/*Layout */

#nav {
  width: 100%;
}

.nav-list {
  margin-left: 10%;
  @media (max-width: 475px) {
    margin-left: 1%;
  }
}

.nav-list-el {
  display: inline;
}

.nav-link {
  display: inline-block;
  padding: 1% 2% 1% 2%;
}

.nav-button {
  float: right;
  margin-top: 15px;
  margin-right: 5%;
  padding: .5% 1% .5% 1%;
}

.body-button {
  margin-left: 15%;
  margin-top: 3%;
  padding: 1% 2% 1% 2%;
}
